* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  text-decoration: underline;
}

.container {
  width: 960px;
  margin: 100px auto;
}

h1 {
  font-size: 60px;
  color: orangered;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
